.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}



.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alineamos el texto a la izquierda */
  margin-bottom: 20px;
}

.banner-image {
  width: 1244px;
  height: 323px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.title {
  width: 392px;
  height: 48px;
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-align: start;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-info {

  font-family: 'Inter', sans-serif;
  font-style: normal;
  text-align: center;
  color: #000000;
}
